@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Libre+Baskerville:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
    background-color: #040039;
}


.navbar {
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 19px 20px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #03002E;

}



.css-image {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(238, 90, 37), blue);
    width: 50%;
    height: 300px;
    top: 65px;
    padding-bottom: 10px;
    left: 25%;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

.cloud {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: slide_top ease-in-out infinite;
    animation-duration: 10050ms;
    /* opacity: 0; */
    left: -70px;
}


.cloud::before {
    content: " ";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 18px;
    top: 10px;
    background-color: white;
}

.cloud::after {
    content: " ";
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 15px;
    top: 15px;
    background-color: rgb(255, 255, 255);
}


.story {
    position: absolute;
    color: white;
    top: 500px;
    width: 55%;
    left: 23%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    word-spacing: 2px;
}

.wave {
    width: 1000px;
    height: 100px;
    background-color: rgb(7, 7, 145);
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: 00px;
    left: -200px;
    animation: waves ease-in-out infinite;
    animation-duration: 1000ms;
}


.sun {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    margin-top: 20px;
    box-shadow: yellow 0px 10px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.swan {
    filter: invert(1);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 18%;
    right: 30%;
    animation: Swan ease-in-out infinite;
    animation-duration: 1190ms;
}

.swan::before {
    content: " ";
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 7%;
}

.swan:nth-last-child(2)::before {
    content: " ";
    width: 3px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    /* top: 10%; */
    bottom: 50%;
    left: 7%;
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid>div{
   height: 30rem;
}

.css-image3 {
    position: relative;
    background-color: skyblue;
    width: 50%;
    height: 300px;
    top: 65px;
    padding-bottom: 10px;
    left: 25%;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

.clouds img {
    width: 350px;
    height: 150px;
    position: absolute;
    opacity: 0.8;
    left: -50%;

    animation: slide_top 100025ms ease-in-out infinite;
}





.sheep img {
    position: absolute;
    bottom: 15%;

    width: 70px;
    height: 70px;
}



.sun {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: 5%;
    box-shadow: yellow 0px 10px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.boy img {
    width: 80px;
    position: absolute;
    bottom: 8%;
    right: 5%;
    transform: rotateZ(25deg);
}



.world {
    width: 100%;
    height: 100%;
    background-color: rgb(102, 185, 40);
    background-image: url("https://media.istockphoto.com/vectors/cute-green-meadow-grass-seamless-pattern-green-herbal-bushes-texture-vector-id809856984?k=20&m=809856984&s=612x612&w=0&h=p4sAJ913kQ2TqyefQBQ_6nZDp7KoMaE3_adBia9R7iU=");
    position: absolute;
    top: 60%;
    border-radius: 100%;

}

.wolf img {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 100px;
    height: 100px;
}

@keyframes slide_top {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1500px);

    }
}

@keyframes waves {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes Swan {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(30px);
        font-size: 25px;
    }
}

.css-image2 {
    position: relative;

    background-image: url("https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 300px;
    top: 65px;
    padding-bottom: 10px;
    left: 25%;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

@keyframes slide_top {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1000px);

    }
}

@keyframes waves {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes Swan {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }

}