@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Libre+Baskerville:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
user-select: none;

}

body {
    height: 100vh;
    width: 100%;
    background-color: #8C52FF;
}


.navbar {
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 19px 20px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #7632ff;

}



.css-image {
    position: relative;
    
    background-image: url("https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 300px;
    top: 65px;
    padding-bottom: 10px;
    left: 25%;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}


.eye-lids::after {
    content: " ";
    position: absolute;
    left: 0%;
    width: 100%;
    height: 78%;
    background-color: black;
    position: absolute;
    opacity: 1;
    transition:ease-in-out;
    transition-duration: 2s;

}
.eye-lids:hover::after{
    transform: translateY(-100%);
    
}
.eye-lids:hover::before{
    transform: translateY(100%);
    
}


.eye-lids::before {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 25%;
    transition:ease-in-out;
    transition-duration: 2s;
    background-color: black;
    position: absolute;
}

.story {
    position: absolute;
    color: white;
    top: 500px;
    width: 55%;
    left: 23%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    word-spacing: 2px;
}

